runs/
*__pycache__*
.vscode/
*.pyc
*.pyo   
*.pyd
*.db        
.DS_Store
*.egg-info/ 

test/
yolo11s-seg.pt
test_data/*
model/*
data/*
Log/*
extracted_frames/*
outputs/*
bash/*
*.xlsx
*.png
*.log
content.md
